/* gebruikte kleuren

#2196f3
#ffeb3b
#3775aa (voor de links "volledig cursusoverzicht" en "volledig nieuwsoverzicht")

*/

body {
  font-family: helvetica, sans-serif;
  font-size: 1.65rem;
  font-weight: 100;
}

nav ul li:before {
  content: "//";
  padding-right: 1rem;
}
