/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body{
	background-color: #d1d5d8;
	padding: 5rem;
	display: grid;
	gap: 3rem;
	
}
header{
	background-color: #54acd2;
	height: 15vh;
	border-top-right-radius:3rem ;
	border-top-left-radius:3rem ;
	box-shadow:  .5rem .5rem black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	padding: 3.5rem;
	border: 1px black solid;
}
header *{
	height: 4vh;
	background-color: #296ab0;
	border: 1px black solid;
}

main{
	height: 30vh;
	background-color: #f7d964;
	box-shadow:  .5rem .5rem black;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 2rem;
	padding: 3rem;
	border: 1px black solid;
}
main *{
	height: 20vh;
	background-color: #fba026;
	border: 1px black solid;
	
}
aside{
	background-color: #f37835;
}
footer{
	background-color: #1abc9d;
	height: 15vh;
	border-bottom-right-radius:3rem ;
	border-bottom-left-radius:3rem ;
	box-shadow:  .5rem .5rem black;
	padding: 3.5rem;
	border: 1px black solid;
}
ul{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 2rem;

}
ul *{
	height: 4vh;
	background-color: #05a885;
	border: 1px black solid;
}

