
header,main,footer{
    width: 50vw;
    height: 32vh;
    
}
header{
    background-color: yellow;
    margin-bottom: 2vh;
}
main{
    background-color: red;
    margin-left: 50vw;
    margin-bottom: 2vh;
}
footer{
    background-color: blue;
}