/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body{
    height: 100%;
}
body *{
    height: calc(100vh / 10);
   
}
em, a{
    display: block;
}
h1{
    background-color: #4d79a7;
}
h1 ~ p{
    background-color: #e15758;
}
h1 +p{
    background-color: #f28e2c;
}

h3{
    background-color: #77b7b4;
}
h3 + em{
    background-color: #58a24e;
}
a{
    background-color: #edc949;
}
a + em{
    background-color: #b07aa1;
}
h4{
    background-color: #ff9ca8;
}
h4 + h3{
    background-color: #9c745f;
}
h3 + p{
    background-color: #bab0ab;
}
