/* Gebruikte kleuren:
black voor tekst
links in de header: #035ec4, #ed5131
grijze achtergrond bovenaan main element: #eee
links in de tekst en footer: #ffa100, #ed5131, #c397cc, #00945c
border figuren: #eee
figuur1: #ff3624, #ffa100, #c397cb, #005ec4, #00945c
figuur2: #56d5c0, #e2c1bc, #618ad5, #618ad5, #f3dc05
figuur3: #ed5131, white, black, #91dcec
*/
