/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

ul{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 3rem;
	padding: 5rem;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

li{
	font-size: 5rem;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 15rem;
	background-color: darkturquoise;


}
li:nth-child(2){
	background-color: darkviolet;
}

li:nth-child(3){
	background-color: deepskyblue;
}